.npmcache
.idea
.sw?
!jest.config.js
*.d.ts
.npmrc

# nodeSJ
node_modules

#Type Script
#packages/*/lib
dist/
tsconfig.tsbuildinfo

#Jest
coverage/

# Amazon CDK
cdk.out
.cdk.staging

# VSCode
.vscode/*

# Mac
.ds_store

